*{
    padding: 0;
    margin: 0;
    background: no-repeat;
}
.first_section{
    background: url(/assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 822px;
    left: -116px;
    top: -22px;
    text-align: center;
   
}

.first_section img{
    margin-top: 274px;
}

.first_section h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-top: 13px;

     
}

.first_section h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 42px;
}