footer{
    background: #464547;
    width: 100%;
    height: 170px;
}

footer img{
    margin-left: 145px;
    margin-top: 19px;
}
footer span{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 16px;
}

address{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 140px;
    margin-top: 14px;
}