.lastsection{
    background: url(/assets/IMG_1334_72dpi_RGB_\ 1.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 700px;
    left: -116px;
    top: -22px;
    text-align: center;
}

.lastsection h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    padding-top: 87px;
     
}

.imgcontainer {
    position: relative;
    width: 100%;
    padding-top: 53px;
}

.img2 {
    position: absolute;
    left: 46%;
    width: 57px;
    height: 48px;
    padding: 50px;

}

.lastsection h3{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 70px;
}

