.main_section{
    background: url(/assets/Rectangle\ 6.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 700px;
    left: -116px;
    top: -22px;
    text-align: center;
}

.main_section h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
    padding-top: 87px;
     
}

.main_section h3{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    padding-top: 40px;
}

.main_section p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-top: 48px;
    width: 983px;
    height: 194px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

.main_section button{
    background: #55C2D8;
    border-radius: 18px;
    width: 115px;
    height: 36px;
    border: 0px solid #55C2D8;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.1em;
    
}